## Installing mlxtend

In [1]:
pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\shilp\anaconda3\envs\symbihello\lib\site-packages (0.19.0)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\shilp\anaconda3\envs\symbihello\lib\site-packages (from mlxtend) (3.5.0)
Requirement already satisfied: setuptools in c:\users\shilp\anaconda3\envs\symbihello\lib\site-packages (from mlxtend) (58.0.4)
Requirement already satisfied: joblib>=0.13.2 in c:\users\shilp\anaconda3\envs\symbihello\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\shilp\anaconda3\envs\symbihello\lib\site-packages (from mlxtend) (1.0.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\shilp\anaconda3\envs\symbihello\lib\site-packages (from mlxtend) (1.21.2)
Requirement already satisfied: scipy>=1.2.1 in c:\users\shilp\anaconda3\envs\symbihello\lib\site-packages (from mlxtend) (1.7.1)
Requirement already satisfied: pandas>=0.24.2 in c:\users\shilp\anaconda3\envs\symbihello\lib\site-packages (from mlxtend) (1.3.4)
Requirement already satisfied: cycler>=0.10 in c:\users\shilp\anaconda3\envs\symbihello\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\shilp\anaconda3\envs\symbihello\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\shilp\anaconda3\envs\symbihello\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\shilp\anaconda3\envs\symbihello\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.28.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\shilp\anaconda3\envs\symbihello\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: packaging>=20.0 in c:\users\shilp\anaconda3\envs\symbihello\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\shilp\anaconda3\envs\symbihello\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\shilp\anaconda3\envs\symbihello\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\shilp\anaconda3\envs\symbihello\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\shilp\anaconda3\envs\symbihello\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

## Importing Required libraries

In [2]:
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [3]:
food=pd.read_csv("Association_Rule_Mining_Data.csv")

In [4]:
food.head()

,Row Labels,Almonds,Poha,Banana,Beans,Besan,Boiled Rice,Bread,Brinjals,Buns & Pavs,...,Sooji & Rava,Soya Products,Sugar,Sugar Cubes,Sunflower Oils,Toor Dal,Urad Dal,Utensil Scrub Pads,Washing Bars,Whole Spices
0,6468572,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,6486475,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN
2,6504964,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
3,6529569,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN
4,6549521,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
food.drop('Row Labels',inplace=True,axis=1)

## Replacing 1 with True and NaN values with False, so that apriori algorithm can be used

In [6]:
food = food.applymap(lambda x: True if x == 1 else False)

In [7]:
food.head()

,Almonds,Poha,Banana,Beans,Besan,Boiled Rice,Bread,Brinjals,Buns & Pavs,Cakes,...,Sooji & Rava,Soya Products,Sugar,Sugar Cubes,Sunflower Oils,Toor Dal,Urad Dal,Utensil Scrub Pads,Washing Bars,Whole Spices
0,False,False,True,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,True,True,...,False,False,False,False,False,True,False,True,False,False
2,True,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
3,False,False,True,False,False,False,False,False,False,True,...,False,False,True,False,False,True,True,False,False,False
4,False,False,True,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False

In [8]:
food.shape

(50, 53)

## Apriori algorithm uses various parameters such as support, confidence, lift to generate rules for product recommendation.

## We will provide values to these parameters and come out with various sets of products that are frequently bought together. This can help to increase revenue.

## Support is used to find frequent purchases as compared to total purhases.It is frequency of an item or its combination by total orders and allows us to filter out food items that have been purchased less frequently.

In [9]:
frequent_food = apriori(food, min_support=0.22, use_colnames=True)

In [10]:
frequent_food

     support                                      itemsets
0       0.72                                      (Banana)
1       0.48                                       (Beans)
2       0.40                                 (Boiled Rice)
3       0.22                         (Liquid Soaps & Bars)
4       0.40                                     (Namkeen)
..       ...                                           ...
107     0.22         (Sugar, Other Vegetables, Other Dals)
108     0.22          (Sugar, Other Dals, Root Vegetables)
109     0.26                 (Sugar, Other Dals, Urad Dal)
110     0.22           (Sugar, Other Vegetables, Urad Dal)
111     0.24  (Beans, Banana, Other Dals, Root Vegetables)

[112 rows x 2 columns]

## finding length of each itemset

In [11]:
frequent_food["itemsets_length"] = frequent_food["itemsets"].apply(lambda x: len(x))

In [12]:
frequent_food

     support                                      itemsets  itemsets_length
0       0.72                                      (Banana)                1
1       0.48                                       (Beans)                1
2       0.40                                 (Boiled Rice)                1
3       0.22                         (Liquid Soaps & Bars)                1
4       0.40                                     (Namkeen)                1
..       ...                                           ...              ...
107     0.22         (Sugar, Other Vegetables, Other Dals)                3
108     0.22          (Sugar, Other Dals, Root Vegetables)                3
109     0.26                 (Sugar, Other Dals, Urad Dal)                3
110     0.22           (Sugar, Other Vegetables, Urad Dal)                3
111     0.24  (Beans, Banana, Other Dals, Root Vegetables)                4

[112 rows x 3 columns]

## generate rules from frequent itemsets by specifying threshold for confidence or lift

In [13]:
rules = association_rules(frequent_food, metric="confidence", min_threshold=.8)

In [14]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Namkeen),(Banana),0.40,0.72,0.36,0.900000,1.250000,0.0720,2.800000
1,(Other Vegetables),(Banana),0.38,0.72,0.32,0.842105,1.169591,0.0464,1.773333
2,(Root Vegetables),(Banana),0.44,0.72,0.40,0.909091,1.262626,0.0832,3.080000
3,(Snacky Nuts),(Banana),0.40,0.72,0.36,0.900000,1.250000,0.0720,2.800000
4,(Other Vegetables),(Beans),0.38,0.48,0.32,0.842105,1.754386,0.1376,3.293333
5,(Raisins),(Beans),0.30,0.48,0.24,0.800000,1.666667,0.0960,2.600000
6,(Toor Dal),(Other Dals),0.24,0.48,0.22,0.916667,1.909722,0.1048,6.240000
7,(Urad Dal),(Sugar),0.36,0.50,0.34,0.944444,1.888889,0.1600,9.000000
8,"(Beans, Namkeen)",(Banana),0.26,0.72,0.24,0.923077,1.282051,0.0528,3.640000
9,"(Beans, Other Dals)",(Banana),0.30,0.72,0.26,0.866667,1.203704,0.0440,2.100000
10,"(Beans, Other Vegetables)",(Banana),0.32,0.72,0.26,0.812500,1.128472,0.0296,1.493333
11,"(Other Vegetables, Banana)",(Beans),0.32,0.48,0.26,0.812500,1.692708,0.1064,2.773333
12,"(Beans, Root Vegetables)",(Banana),0.34,0.72,0.30,0.882353,1.225490,0.0552,2.380000
13,"(Beans, Snacky Nuts)",(Banana),0.26,0.72,0.24,0.923077,1.282051,0.0528,3.640000
14,"(Boiled Rice, Root Vegetables)",(Banana),0.22,0.72,0.22,1.000000,1.388889,0.0616,inf
15,"(Snacky Nuts, Boiled Rice)",(Banana),0.22,0.72,0.22,1.000000,1.388889,0.0616,inf
16,"(Namkeen, Root Vegetables)",(Banana),0.22,0.72,0.22,1.000000,1.388889,0.0616,inf
17,"(Other Dals, Other Rice Products)",(Banana),0.26,0.72,0.22,0.846154,1.175214,0.0328,1.820000
18,"(Other Vegetables, Other Dals)",(Banana),0.26,0.72,0.22,0.846154,1.175214,0.0328,1.820000
19,"(Other Dals, Root Vegetables)",(Banana),0.30,0.72,0.28,0.933333,1.296296,0.0640,4.200000
20,"(Other Dals, Snacky Nuts)",(Banana),0.26,0.72,0.22,0.846154,1.175214,0.0328,1.820000
21,"(Sugar, Other Dals)",(Banana),0.34,0.72,0.28,0.823529,1.143791,0.0352,1.586667
22,"(Other Vegetables, Root Vegetables)",(Banana),0.24,0.72,0.22,0.916667,1.273148,0.0472,3.360000
23,"(Snacky Nuts, Root Vegetables)",(Banana),0.28,0.72,0.26,0.928571,1.289683,0.0584,3.920000
24,"(Sugar, Root Vegetables)",(Banana),0.30,0.72,0.26,0.866667,1.203704,0.0440,2.100000
25,"(Sugar Cubes, Root Vegetables)",(Banana),0.24,0.72,0.22,0.916667,1.273148,0.0472,3.360000
26,"(Sugar, Snacky Nuts)",(Banana),0.26,0.72,0.24,0.923077,1.282051,0.0528,3.640000
27,"(Sugar Cubes, Snacky Nuts)",(Banana),0.24,0.72,0.24,1.000000,1.388889,0.0672,inf
28,"(Banana, Urad Dal)",(Sugar),0.24,0.50,0.24,1.000000,2.000000,0.1200,inf
29,"(Other Vegetables, Other Dals)",(Beans),0.26,0.48,0.22,0.846154,1.762821,0.0952,3.380000
30,"(Beans, Other Dals)",(Root Vegetables),0.30,0.44,0.26,0.866667,1.969697,0.1280,4.200000
31,"(Other Dals, Root Vegetables)",(Beans),0.30,0.48,0.26,0.866667,1.805556,0.1160,3.900000
32,"(Other Vegetables, Root Vegetables)",(Beans),0.24,0.48,0.22,0.916667,1.909722,0.1048,6.240000
33,"(Sugar, Other Vegetables)",(Beans),0.28,0.48,0.24,0.857143,1.785714,0.1056,3.640000
34,"(Beans, Snacky Nuts)",(Root Vegetables),0.26,0.44,0.22,0.846154,1.923077,0.1056,3.640000
35,"(Sugar, Root Vegetables)",(Beans),0.30,0.48,0.24,0.800000,1.666667,0.0960,2.600000
36,"(Beans, Urad Dal)",(Sugar),0.26,0.50,0.26,1.000000,2.000000,0.1300,inf
37,"(Other Dals, Other Rice Products)",(Boiled Rice),0.26,0.40,0.22,0.846154,2.115385,0.1160,3.900000
38,"(Other Rice Products, Boiled Rice)",(Other Dals),0.26,0.48,0.22,0.846154,1.762821,0.0952,3.380000
39,"(Sugar, Boiled Rice)",(Urad Dal),0.26,0.36,0.22,0.846154,2.350427,0.1264,4.160000
40,"(Urad Dal, Boiled Rice)",(Sugar),0.24,0.50,0.22,0.916667,1.833333,0.1000,6.000000
41,"(Other Vegetables, Other Dals)",(Root Vegetables),0.26,0.44,0.22,0.846154,1.923077,0.1056,3.640000
42,"(Other Vegetables, Root Vegetables)",(Other Dals),0.24,0.48,0.22,0.916667,1.909722,0.1048,6.240000
43,"(Other Vegetables, Other Dals)",(Sugar),0.26,0.50,0.22,0.846154,1.692308,0.0900,3.250000
44,"(Other Dals, Urad Dal)",(Sugar),0.28,0.50,0.26,0.928571,1.857143,0.1200,7.000000
45,"(Other Vegetables, Urad Dal)",(Sugar),0.22,0.50,0.22,1.000000,2.000000,0.1100,inf
46,"(Beans, Banana, Other Dals)",(Root Vegetables),0.26,0.44,0.24,0.923077,2.097902,0.1256,7.280000
47,"(Beans, Banana, Root Vegetables)",(Other Dals),0.30,0.48,0.24,0.800000,1.666667,0.0960,2.600000
48,"(Beans, Other Dals, Root Vegetables)",(Banana),0.26,0.72,0.24,0.923077,1.282051,0.0528,3.640000
49,"(Banana, Other Dals, Root Vegetables)",(Beans),0.28,0.48,0.24,0.857143,1.785714,0.1056,3.640000
50,"(Beans, Other Dals)","(Banana, Root Vegetables)",0.30,0.40,0.24,0.800000,2.000000,0.1200,3.000000
51,"(Other Dals, Root Vegetables)","(Beans, Banana)",0.30,0.38,0.24,0.800000,2.105263,0.1260,3.100000

## Now, we will make three columns to get length of antecedent, consequent and total length of rule

In [15]:
rules["antecedent_len"] = rules["antecedents"].apply(lambda x: len(x))
rules["consequents_len"] = rules["consequents"].apply(lambda x: len(x))
rules["total_len"] = rules["antecedent_len"]+rules["consequents_len"]

In [16]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequents_len,total_len
0,(Namkeen),(Banana),0.40,0.72,0.36,0.900000,1.250000,0.0720,2.800000,1,1,2
1,(Other Vegetables),(Banana),0.38,0.72,0.32,0.842105,1.169591,0.0464,1.773333,1,1,2
2,(Root Vegetables),(Banana),0.44,0.72,0.40,0.909091,1.262626,0.0832,3.080000,1,1,2
3,(Snacky Nuts),(Banana),0.40,0.72,0.36,0.900000,1.250000,0.0720,2.800000,1,1,2
4,(Other Vegetables),(Beans),0.38,0.48,0.32,0.842105,1.754386,0.1376,3.293333,1,1,2
5,(Raisins),(Beans),0.30,0.48,0.24,0.800000,1.666667,0.0960,2.600000,1,1,2
6,(Toor Dal),(Other Dals),0.24,0.48,0.22,0.916667,1.909722,0.1048,6.240000,1,1,2
7,(Urad Dal),(Sugar),0.36,0.50,0.34,0.944444,1.888889,0.1600,9.000000,1,1,2
8,"(Beans, Namkeen)",(Banana),0.26,0.72,0.24,0.923077,1.282051,0.0528,3.640000,2,1,3
9,"(Beans, Other Dals)",(Banana),0.30,0.72,0.26,0.866667,1.203704,0.0440,2.100000,2,1,3
10,"(Beans, Other Vegetables)",(Banana),0.32,0.72,0.26,0.812500,1.128472,0.0296,1.493333,2,1,3
11,"(Other Vegetables, Banana)",(Beans),0.32,0.48,0.26,0.812500,1.692708,0.1064,2.773333,2,1,3
12,"(Beans, Root Vegetables)",(Banana),0.34,0.72,0.30,0.882353,1.225490,0.0552,2.380000,2,1,3
13,"(Beans, Snacky Nuts)",(Banana),0.26,0.72,0.24,0.923077,1.282051,0.0528,3.640000,2,1,3
14,"(Boiled Rice, Root Vegetables)",(Banana),0.22,0.72,0.22,1.000000,1.388889,0.0616,inf,2,1,3
15,"(Snacky Nuts, Boiled Rice)",(Banana),0.22,0.72,0.22,1.000000,1.388889,0.0616,inf,2,1,3
16,"(Namkeen, Root Vegetables)",(Banana),0.22,0.72,0.22,1.000000,1.388889,0.0616,inf,2,1,3
17,"(Other Dals, Other Rice Products)",(Banana),0.26,0.72,0.22,0.846154,1.175214,0.0328,1.820000,2,1,3
18,"(Other Vegetables, Other Dals)",(Banana),0.26,0.72,0.22,0.846154,1.175214,0.0328,1.820000,2,1,3
19,"(Other Dals, Root Vegetables)",(Banana),0.30,0.72,0.28,0.933333,1.296296,0.0640,4.200000,2,1,3
20,"(Other Dals, Snacky Nuts)",(Banana),0.26,0.72,0.22,0.846154,1.175214,0.0328,1.820000,2,1,3
21,"(Sugar, Other Dals)",(Banana),0.34,0.72,0.28,0.823529,1.143791,0.0352,1.586667,2,1,3
22,"(Other Vegetables, Root Vegetables)",(Banana),0.24,0.72,0.22,0.916667,1.273148,0.0472,3.360000,2,1,3
23,"(Snacky Nuts, Root Vegetables)",(Banana),0.28,0.72,0.26,0.928571,1.289683,0.0584,3.920000,2,1,3
24,"(Sugar, Root Vegetables)",(Banana),0.30,0.72,0.26,0.866667,1.203704,0.0440,2.100000,2,1,3
25,"(Sugar Cubes, Root Vegetables)",(Banana),0.24,0.72,0.22,0.916667,1.273148,0.0472,3.360000,2,1,3
26,"(Sugar, Snacky Nuts)",(Banana),0.26,0.72,0.24,0.923077,1.282051,0.0528,3.640000,2,1,3
27,"(Sugar Cubes, Snacky Nuts)",(Banana),0.24,0.72,0.24,1.000000,1.388889,0.0672,inf,2,1,3
28,"(Banana, Urad Dal)",(Sugar),0.24,0.50,0.24,1.000000,2.000000,0.1200,inf,2,1,3
29,"(Other Vegetables, Other Dals)",(Beans),0.26,0.48,0.22,0.846154,1.762821,0.0952,3.380000,2,1,3
30,"(Beans, Other Dals)",(Root Vegetables),0.30,0.44,0.26,0.866667,1.969697,0.1280,4.200000,2,1,3
31,"(Other Dals, Root Vegetables)",(Beans),0.30,0.48,0.26,0.866667,1.805556,0.1160,3.900000,2,1,3
32,"(Other Vegetables, Root Vegetables)",(Beans),0.24,0.48,0.22,0.916667,1.909722,0.1048,6.240000,2,1,3
33,"(Sugar, Other Vegetables)",(Beans),0.28,0.48,0.24,0.857143,1.785714,0.1056,3.640000,2,1,3
34,"(Beans, Snacky Nuts)",(Root Vegetables),0.26,0.44,0.22,0.846154,1.923077,0.1056,3.640000,2,1,3
35,"(Sugar, Root Vegetables)",(Beans),0.30,0.48,0.24,0.800000,1.666667,0.0960,2.600000,2,1,3
36,"(Beans, Urad Dal)",(Sugar),0.26,0.50,0.26,1.000000,2.000000,0.1300,inf,2,1,3
37,"(Other Dals, Other Rice Products)",(Boiled Rice),0.26,0.40,0.22,0.846154,2.115385,0.1160,3.900000,2,1,3
38,"(Other Rice Products, Boiled Rice)",(Other Dals),0.26,0.48,0.22,0.846154,1.762821,0.0952,3.380000,2,1,3
39,"(Sugar, Boiled Rice)",(Urad Dal),0.26,0.36,0.22,0.846154,2.350427,0.1264,4.160000,2,1,3
40,"(Urad Dal, Boiled Rice)",(Sugar),0.24,0.50,0.22,0.916667,1.833333,0.1000,6.000000,2,1,3
41,"(Other Vegetables, Other Dals)",(Root Vegetables),0.26,0.44,0.22,0.846154,1.923077,0.1056,3.640000,2,1,3
42,"(Other Vegetables, Root Vegetables)",(Other Dals),0.24,0.48,0.22,0.916667,1.909722,0.1048,6.240000,2,1,3
43,"(Other Vegetables, Other Dals)",(Sugar),0.26,0.50,0.22,0.846154,1.692308,0.0900,3.250000,2,1,3
44,"(Other Dals, Urad Dal)",(Sugar),0.28,0.50,0.26,0.928571,1.857143,0.1200,7.000000,2,1,3
45,"(Other Vegetables, Urad Dal)",(Sugar),0.22,0.50,0.22,1.000000,2.000000,0.1100,inf,2,1,3
46,"(Beans, Banana, Other Dals)",(Root Vegetables),0.26,0.44,0.24,0.923077,2.097902,0.1256,7.280000,3,1,4
47,"(Beans, Banana, Root Vegetables)",(Other Dals),0.30,0.48,0.24,0.800000,1.666667,0.0960,2.600000,3,1,4
48,"(Beans, Other Dals, Root Vegetables)",(Banana),0.26,0.72,0.24,0.923077,1.282051,0.0528,3.640000,3,1,4
49,"(Banana, Other Dals, Root Vegetables)",(Beans),0.28,0.48,0.24,0.857143,1.785714,0.1056,3.640000,3,1,4
50,"(Beans, Other Dals)","(Banana, Root Vegetables)",0.30,0.40,0.24,0.800000,2.000000,0.1200,3.000000,2,2,4
51,"(Other Dals, Root Vegetables)","(Beans, Banana)",0.30,0.38,0.24,0.800000,2.105263,0.1260,3.100000,2,2,4

## Using rules to get recommendation of length 3 and with lift greater than 1.4

In [17]:
rules[ (rules['antecedent_len'] ==2) &
       (rules['lift'] > 1.4) &
       (rules['consequents_len'] ==1)     ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequents_len,total_len
11,"(Other Vegetables, Banana)",(Beans),0.32,0.48,0.26,0.812500,1.692708,0.1064,2.773333,2,1,3
28,"(Banana, Urad Dal)",(Sugar),0.24,0.50,0.24,1.000000,2.000000,0.1200,inf,2,1,3
29,"(Other Vegetables, Other Dals)",(Beans),0.26,0.48,0.22,0.846154,1.762821,0.0952,3.380000,2,1,3
30,"(Beans, Other Dals)",(Root Vegetables),0.30,0.44,0.26,0.866667,1.969697,0.1280,4.200000,2,1,3
31,"(Other Dals, Root Vegetables)",(Beans),0.30,0.48,0.26,0.866667,1.805556,0.1160,3.900000,2,1,3
32,"(Other Vegetables, Root Vegetables)",(Beans),0.24,0.48,0.22,0.916667,1.909722,0.1048,6.240000,2,1,3
33,"(Sugar, Other Vegetables)",(Beans),0.28,0.48,0.24,0.857143,1.785714,0.1056,3.640000,2,1,3
34,"(Beans, Snacky Nuts)",(Root Vegetables),0.26,0.44,0.22,0.846154,1.923077,0.1056,3.640000,2,1,3
35,"(Sugar, Root Vegetables)",(Beans),0.30,0.48,0.24,0.800000,1.666667,0.0960,2.600000,2,1,3
36,"(Beans, Urad Dal)",(Sugar),0.26,0.50,0.26,1.000000,2.000000,0.1300,inf,2,1,3
37,"(Other Dals, Other Rice Products)",(Boiled Rice),0.26,0.40,0.22,0.846154,2.115385,0.1160,3.900000,2,1,3
38,"(Other Rice Products, Boiled Rice)",(Other Dals),0.26,0.48,0.22,0.846154,1.762821,0.0952,3.380000,2,1,3
39,"(Sugar, Boiled Rice)",(Urad Dal),0.26,0.36,0.22,0.846154,2.350427,0.1264,4.160000,2,1,3
40,"(Urad Dal, Boiled Rice)",(Sugar),0.24,0.50,0.22,0.916667,1.833333,0.1000,6.000000,2,1,3
41,"(Other Vegetables, Other Dals)",(Root Vegetables),0.26,0.44,0.22,0.846154,1.923077,0.1056,3.640000,2,1,3
42,"(Other Vegetables, Root Vegetables)",(Other Dals),0.24,0.48,0.22,0.916667,1.909722,0.1048,6.240000,2,1,3
43,"(Other Vegetables, Other Dals)",(Sugar),0.26,0.50,0.22,0.846154,1.692308,0.0900,3.250000,2,1,3
44,"(Other Dals, Urad Dal)",(Sugar),0.28,0.50,0.26,0.928571,1.857143,0.1200,7.000000,2,1,3
45,"(Other Vegetables, Urad Dal)",(Sugar),0.22,0.50,0.22,1.000000,2.000000,0.1100,inf,2,1,3

## Based upon the sets obtained, different actions can be taken to increase revenue.

## Food items which belong to same category and are frequntly purchased together can be kept just side to side for example banana, other vegetables and beans

## Items which fall frequently into the consequent category like Sugar and beans can be kept at some central location so as to ensure customers do buy them.

## Getting frequently bought together products in groups of 4

In [18]:
rules[ (rules['antecedent_len'] ==3)&
       (rules['lift'] > 1.4) &
       (rules['consequents_len'] ==1)     ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len,consequents_len,total_len
46,"(Beans, Banana, Other Dals)",(Root Vegetables),0.26,0.44,0.24,0.923077,2.097902,0.1256,7.28,3,1,4
47,"(Beans, Banana, Root Vegetables)",(Other Dals),0.30,0.48,0.24,0.800000,1.666667,0.0960,2.60,3,1,4
49,"(Banana, Other Dals, Root Vegetables)",(Beans),0.28,0.48,0.24,0.857143,1.785714,0.1056,3.64,3,1,4

## Similarly, we can get other product recommendations, by putting a filter on values of required lift and Itemset length.

## While working on determing itemsets, it is essential that the lift is greater than 1 and support and confidence also have good enough values to maximise returns from our strategy.